.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-violet);
  position: relative;
  overflow: hidden;
  padding-bottom: 3%;
  height: 30vh;
  width: 100%;
  margin-top: 5%;

  .title {
    color: white;
    z-index: 1;
    margin-top: 5%;
  }

  .divButton {
    margin-top: 2%;
    width: 10%;
    height: 20%;
    z-index: 1;
  }

  .figure {
    position: absolute;
    height: 100%;

    .img {
      object-fit: cover;
      height: 100%;
    }
  }
}
