:root {
  //color primary:
  --button: hsl(180, 66%, 49%);
  --background-violet: hsl(257, 27%, 26%);

  //secondary:
  --red: hsl(0, 87%, 67%);

  //neutral:
  --gray: hsl(0, 0%, 93%);
  --letters-and-paragraphs: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --color-title: hsl(260, 8%, 14%);

  //font
  --font-family: "Poppins", sans-serif;

  //padding:
  --padding: 3% 6%;
}
