.section {
  display: flex;
  position: relative;
  gap: 2%;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;

  .sectionCard {
    background-color: white;
    border-radius: 2%;
    width: 30%;
    padding: 8% 2% 0% 2%;

    .divCircle {
      width: 8%;
      height: 32%;
      border-radius: 50%;
      background-color: var(--background-violet);
      position: absolute;
      bottom: 85%;
    }

    .title {
      color: var(--color-title);
      margin-bottom: 2%;
      font-weight: 700;
    }

    .paragraph {
      color: var(--letters-and-paragraphs);
      font-weight: 500;
    }

    .figure {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
      bottom: 138%;
      left: 8%;

      .img {
        margin: 0;
      }
    }
  }
}
