.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-title);
  padding: 3% 5%;
  color: white;

  .list {
    list-style: none;
    font-size: 0.625rem;
    font-weight: 500;
    color: var(--letters-and-paragraphs);
    line-height: 250%;
  }

  .titleList {
    color: white;
  }
  .imagesSocialMedia {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
}
